* {
    box-sizing: border-box;
}
body {
    margin: 0 0 0 0;
    font-size: 1rem;
    font-family: "Roboto", "Noto", sans-serif;
    color: rgb(32, 32, 32)
}

/***************************************** page-header ********************************************/
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 1rem;
}
.title {
    text-decoration: none;
    letter-spacing: 5px;
    color: rgb(32, 32, 32);
    font-weight: 500;
    font-size: 1rem;
    line-height: 1rem;
}
.cart {
    position: absolute;
    right:1rem;
}
.bar {
    position: absolute;
    left: 1rem;
    text-decoration: none;
    color: rgb(32, 32, 32);
}
nav {
    display: flex;
    font-size: 13px;
    justify-content: center;
    margin-bottom: px;
}
.menu > a {
    color: rgb(32, 32, 32);
    text-decoration: none;
    font-weight: 500;
    padding: 20px 20px 15px 20px;
}
.cloth-desription {
    display: flex;
}
/************************************************ page-footer ****************************************/
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 5rem;
    font-size: 0.7rem;
    color: gray;
    bottom: 0;
}
.footer > h3{
    top: 0;
    position: absolute;
}
.demo{
    position: absolute;
    bottom: 0;
    padding:1rem 1.2rem 1rem 1.2rem;
    height: 3rem;
    text-align: center;
    font-weight: 500;
    font-size: 1rem;
    background-color: rgb(115,115,115);
    color: white;
}

.heading {
    text-align: center;
    margin-top: 5rem;
}
.no-of-items {
    font-size: 0.8rem;
    margin-top: -1rem;
}
.cart-items {
    display: flex;
    height: 5rem;
    justify-content: space-between;
    width: 100%;
    margin-top: 3rem;
    font-size: 13px;
    
}
.product-image{
    /* width: 10%; */
    height: 5rem;
}
.product-image img {
    height: 5rem;
    width: 5rem;
}
.shipping-details {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.product-name {
    align-self: center; 
    width: 50%;
}
.product-name a {
    text-decoration: none;
    color: rgb(32, 32, 32);
}
.item-to-buy {
    width: 50%;
    align-self: center;
    display: flex;
    justify-content: space-around;
}

.checkout-button {
    margin-bottom: 20px;
    font-family: "Roboto", "Noto", sans-serif;
    font-size: 13px;
    height: 2rem;
    background-color: white;
    border-color: rgb(32, 32, 32);
    border-style: solid;
    width: 10rem;
    text-align: center;
    line-height: 19.5px;
    text-decoration: none;
    color: rgb(32, 32, 32);

}

.checkout-button a {
    text-decoration: none;
    color: rgb(32, 32, 32);
}
.your-cart {
    font-size: 1rem;
    font-weight: 500;
}

@media only screen and (max-width: 700px) {
    .item-to-buy {
        align-self: flex-end;
        color: gray;
    }
    .heading {
        margin-top: 1rem;
    }
    .footer {
        display: none;
    }
    .total {
        position: absolute;
        top:18rem;
        right: 3.1rem;
        font-weight: bolder;
        font-size: 13px;
    }
    .cart-items-section {
        height: 400px;
    }
    .checkout-button{
        width: 100%;
        text-decoration: none;
        color: white;
        border-style: solid;
        border-color: #172C50;
        height: 4rem;
        background-color: #172C50;
        text-align: center;
        font-size: 1rem;
        font-weight: 600;
        position: fixed;
        bottom: -1rem;
    }
}

@media only screen and (min-width: 700px) {
    .footer{
        bottom: 0;
    }
    .cart-items-section {
        height: 600px;
    }
    .bar {
        display: none
    }
    .cart-items-section {
        padding: 3rem 8rem 0 8rem;
    }
    .total {
        position: absolute;
        right: 20rem;
        font-size: 13px;
        font-weight: bold;
    }
    table {
        width: 10rem;
    }
    tr:nth-child(2){
        text-align: right;
    }
    .checkout-button {
        position: absolute;
        margin-top: -27rem;
        right: 10rem;
    }
    .checkout-button:active {
        background-color: black;
        color: white;
    }
}