* {
    box-sizing: border-box;
}
body {
    margin: 0 0 0 0;
    font-size: 1rem;
    font-family: "Roboto", "Noto", sans-serif;
    color: rgb(32, 32, 32)
}
main {
    width: 100%;
    height: 100%
}
/***************************************** page-header ********************************************/
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 1rem;
}
.title {
    text-decoration: none;
    letter-spacing: 5px;
    color: rgb(32, 32, 32);
    font-weight: 500;
    font-size: 1rem;
    line-height: 1rem;
}
.cart {
    position: absolute;
    right:1rem;
    text-decoration: none;
    color: rgb(32, 32, 32);
}
.bar {
    position: absolute;
    left: 1rem;
    text-decoration: none;
    color: rgb(32, 32, 32);
}
nav {
    display: flex;
    font-size: 13px;
    justify-content: center;
    margin-bottom: px;
}
a {
    color: rgb(32, 32, 32);
    text-decoration: none;
    font-weight: 500;
    padding: 20px 20px 15px 20px;
}
/************************************************ page-main-content ************************************/
.clothes-category{
    text-align: center;
    width: 100%;
    margin: 1rem 0 4rem 0;
}

.clothes-img{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1rem;
    width: 100%
}
div {
    text-align: center;
}
div img {
    max-width: 100%
}
no-of-items {
    color: gray
}
.mens-outerwear {
    background-image: url("../images/mens_outerwear.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height: 20rem;
    width: 100%;
}
.price {
    margin-top: -1rem;
    color: gray;
}
/************************************************ page-footer ****************************************/
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 5rem;
    font-size: 0.7rem;
    color: gray
}
h3{
    top: 0;
    position: absolute;
}
.demo{
    position: absolute;
    bottom: 0;
    padding:1rem 1.2rem 1rem 1.2rem;
    height: 3rem;
    text-align: center;
    font-weight: 500;
    font-size: 1rem;
    background-color: rgb(115,115,115);
    color: white;
}


/*************************************** media-query(small-screen) **********************************/
@media only screen and (max-width: 700px) {
    nav, .up, .clothes-category a {
        display: none;
    }
    .clothes-img{
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 1rem;
    }
    div {
        text-align: center;
    }
    div img {
        max-width: 100%
    }
}
/************************************** media-query(large-screen) ***********************************/
@media only screen and (min-width: 700px) {
    .bar, .up {
        display: none;
    }
}
@media only screen and (min-width: 1000px){
    body{
        margin: 1px 1px 1px 1px;
    }
}