* {
    box-sizing: border-box;
}
body {
    margin: 0 0 0 0;
    font-size: 1rem;
    font-family: "Roboto", "Noto", sans-serif;
    color: rgb(32, 32, 32)
}
main {
    width: 100%;
    height: 100%
}
/***************************************** page-header ********************************************/
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 1rem;
}
.title {
    text-decoration: none;
    letter-spacing: 5px;
    color: rgb(32, 32, 32);
    font-weight: 500;
    font-size: 1rem;
    line-height: 1rem;
}
.cart {
    position: absolute;
    right:1rem;
    text-decoration: none;
    color: rgb(32, 32, 32);
}
.bar {
    position: absolute;
    left: 1rem;
    text-decoration: none;
    color: rgb(32, 32, 32);
}
nav {
    display: flex;
    font-size: 13px;
    justify-content: center;
    margin-bottom: px;
}
a {
    color: rgb(32, 32, 32);
    text-decoration: none;
    font-weight: 500;
    padding: 20px 20px 15px 20px;
}
/***************************************** page-main-content *****************************************/
.heading {
    text-align: center;
    margin-top: 5rem;
}
.checkout {
    font-size: 1rem;
    font-weight: 500;
}
.application-details {
    font-size: 0.8rem;
    margin-top: -1rem;
}
.user-details, .payment-details {
    height: auto;
    width: 100%;
}
.account-information, .shipping-address, .payment-method {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    width: 100%;
    position:relative; 
    position: relative;
}
#email, #phone-number, #address, #city, #card-holder-name, #card-number {
    outline: none;
    height: 3rem;
    border: none;
    border-bottom: 1px solid gray;
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
}
.font-format{
    font-size: 13px;
}
.shipping-address-2, .card-expiry-details{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
#state, #postal-code {
    max-width: 100%;
    height: 2rem;
    outline: none;
    border: none;
    border-bottom: 1px solid gray;
    font-size: 1rem;
    font-weight: 600;
}
.select-country {
    outline: none;
    width: 100%;
    height: 2rem;
    border: none;
    color: gray;
    border-bottom: 1px solid gray;
    font-size: 1rem;
    background-color: white;
    margin: 1rem 0 1rem 0;
    font-weight: 600;
}
.select-month,  .select-year, .cvv {
    outline: none;
    width: 32%;
    height: 2rem;
    border: none;
    color: gray;
    border-bottom: 1px solid gray;
    font-size: 1rem;
    background-color: white;
    margin: 1rem 0 1rem 0;
    font-weight: 600;
}
table {
    width: 100%;
}
tr td:nth-child(2){
    text-align: right;
}
td {
    height: 3rem;
}
/**************************************** animation & transition  **************************************/
input:focus, input:valid {
    border-color: black;
}   
input:focus~label, input:valid~label {
    font-size: 14px;
    top: -24px;
    color: black;
}
.group { 
  position:relative; 
  margin-bottom:45px; 
}
label {
    color: gray;
    font-size:1rem;
    font-weight:normal;
    position:absolute;
    left:5px;
    top:10px;
    transition:0.2s ease all; 
}
input:focus ~ label, input:valid ~ label {
    top:-12px;
    font-size:0.8rem;
    color:rgb(32, 32, 32);
}
.underline { 
    position:relative; 
    display:block; 
}
.underline:before, .underline:after {
    content:'';
    height:1.5px; 
    width:0;
    bottom:0; 
    top: -2px;
    position:absolute;
    background:rgb(32, 32, 32); 
    transition:0.2s ease all; 
}
.underline:before {
    left:50%;
}
.underline:after {
    right:50%; 
}
input:focus ~ .underline:before, input:focus ~ .underline:after {
    width:50%;
}
/************************************************ page-footer ****************************************/
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 5rem;
    font-size: 0.7rem;
    color: gray
}
.makers-details {
    top: 0;
    position: absolute;
}
.demo{
    position: absolute;
    bottom: 0;
    padding:1rem 1.2rem 1rem 1.2rem;
    height: 3rem;
    text-align: center;
    font-weight: 500;
    font-size: 1rem;
    background-color: rgb(115,115,115);
    color: white;
}
option {
    color: gray; 
}
/********************************************* media-Query(small-screen) *******************************/
@media only screen and (max-width: 700px){
    .heading {
        margin-top: 1rem;
    }
    .customer-information {
        max-width: 100%;
        margin: 0 2rem 0 2rem;
        position: relative;
    }
    table {
        height: 10rem;
    }
    .place-order-button{
        width: 100%;
        margin: 0 -2rem 0 -2rem;
        text-decoration: none;
        color: white;
        border-style: solid;
        border-color: #172C50;
        height: 4rem;
        background-color: #172C50;
        text-align: center;
        font-size: 1rem;
        font-weight: 600;
        position: fixed;
        bottom: 0;
    }    
    .footer, nav{
        display: none;
    }
}
/************************************* media-query(large-screen) *************************************/
@media only screen and (min-width: 700px){
    .bar {
        display: none;
    }
    .customer-information {
        max-width: 100%;
        display: flex;
        justify-content: space-around;
        position: relative;
    }
    .user-details, .payment-details {
        height: auto;
        max-width: 35%
    }
    .payment-details {
        margin-left: -12rem;
    }
    .place-order-button {
        margin-top: 2rem;
        background-color: rgb(255, 255, 255);
        border-style: solid;
        text-decoration: none;
        color: rgb(32, 32, 32);
        font-family: "Roboto", "Noto", sans-serif;
        border-color: rgb(32, 32, 32);
        font-size: 1rem;
        padding: 0.5em 1.8em;
    }
    .place-order-button:active {
        background-color: rgb(32, 32, 32);
        color: white;
    }
}