* {
    box-sizing: border-box;
}
body {
    margin: 0 0 0 0;
    font-size: 1rem;
    font-family: "Roboto", "Noto", sans-serif;
    color: rgb(32, 32, 32)
}
main {
    width: 100%;
    height: 100%
}
/***************************************** page-header ********************************************/
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 1rem;
}
.title {
    align-self: center;
    text-decoration: none;
    letter-spacing: 5px;
    color: rgb(32, 32, 32);
    font-weight: 500;
    font-size: 1rem;
    line-height: 1rem;
}
.cart {
    position: absolute;
    right:1rem;
    align-self: center;
    text-decoration: none;
    color: rgb(32, 32, 32);
}
.bar {
    position: absolute;
    left: 1rem;
    align-self: center;
    text-decoration: none;
    color: rgb(32, 32, 32);
}
nav {
    display: flex;
    font-size: 13px;
    justify-content: center;
    margin-bottom: px;
}
a {
    color: rgb(32, 32, 32);
    text-decoration: none;
    font-weight: 500;
    padding: 20px 20px 15px 20px;
}
/*************************************** page-display-content ****************************************/
.clothes-category{
    text-align: center;
    width: 100%;
    margin: 1rem 0 2rem 0;
}
.mens-outerwear {
    background-image: url("../images/mens_outerwear.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height: 20rem;
    width: 100%;
}
.ladies-outerwear {
    background-image: url("../images/ladies_outerwear.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height: 20rem;
    width: 100%;
}
.t-shirt-section{
    display: flex;
    width: 100%;
    margin: 4rem 0 4rem 0;
}
.shop-button {
    margin-bottom: 20px;
    font-family: "Roboto", "Noto", sans-serif;
    font-size: 1rem;
    width: 50%;
    text-align: center;
    line-height: 19.5px;
}
.mens-tshirts {
    background-image: url("../images/mens_tshirts.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height: 20em;
}
.ladies-tshirts {
    background-image: url("../images/ladies_tshirts.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height: 20em;
}
button{
    background-color: rgb(255, 255, 255);
    border-style: solid;
    font-family: "Roboto", "Noto", sans-serif;
    border-color: rgb(32, 32, 32);
    font-size: 1rem;
    padding: 0.5em 1.8em;
}
button:active{
    background-color: black;
    color: white;
}
h2{
    font-size: 1rem;
    font-weight: 500;
    line-height: 25.35px;
}
/************************************************ page-footer ****************************************/
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 5rem;
    font-size: 0.7rem;
    color: gray
}
h3{
    top: 0;
    position: absolute;
}
.demo{
    position: absolute;
    bottom: 0;
    padding:1rem 1.2rem 1rem 1.2rem;
    height: 3rem;
    text-align: center;
    font-weight: 500;
    font-size: 1rem;
    background-color: rgb(115,115,115);
    color: white;
}

@media only screen and (max-width: 600px) {
    nav, .up {
        display: none;
    }
}

@media only screen and (min-width: 600px) {
    .bar, .up {
        display: none;
    }
}
@media only screen and (min-width: 900px){
    body{
        margin: 0px 5px 0px 5px;
    }
}