* {
    box-sizing: border-box;
}
  
body {
    font-family: Arial;
    font-size: 1em;
}

a {
    text-decoration: none;
    color: rgb(32, 32, 32);
}
/********************************************** page-header **********************************************/
header {
    border: none;
    border-bottom: 1px solid gray;
    /* font-size: 2rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.news-paper-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    position: relative;
}
.logo-and-title {
    display: flex;
    font-size: 1rem;
    justify-content: flex-start;
}
.title {
    align-self: center;
    margin-left: 0.5rem;
}
.logo {
    align-self: center;
    height: 5rem
}

/*************************************************** page-menu *******************************************/
.menu{
    align-content: center;
    margin-top: 1rem;
    margin-bottom: 7px;
    border-bottom: solid 1px gray; 
    height: 5rem;
    justify-content: space-between;
    display: flex;
}
/*********************************************** page-dog_image ******************************************/
.headline-section {
    float: left;
    width:65%;
}
.breaking-news {
    position: relative;
    width:100%;
} 
.breaking-news-image {
    margin-top: -0.5rem;
    width: 100%;
    min-height: 20rem;
}
.breaking-news-content {
    position: absolute;
    bottom: 0;
    padding: 1px;
    border-left: 2px grey solid;
    border-right: 2px grey solid;
}

/********************************************* page-weather_image *****************************************/
.weather {
    color: #212121;
    width: 35%;
    float: left;
    margin-top: 1em;
    border: none;
    outline: none;
    padding-left: 1em;
}
.daily-weather {
    display: flex;
}
.current-weather {
    vertical-align: middle;
    width: 45%;
    height: auto;
}
h3 {
    vertical-align: middle;
}
.weather-pic {
    vertical-align: middle;
    width: 100%;
    height: auto;
}
.weather-type {
    flex: 100%;
}

/************************************************ page-top_news *******************************************/
.news {
    float: left;
    width: 100%;
    height: auto;
    padding: 2em;
    margin-left: auto;
    margin-right: auto;
}
.top-news,.latest-news {
    font-weight: 300;
    border-bottom: 1px solid #E0E0E0;
    line-height: 24px;
    font-size: 18px;
    border-collapse: collapse;
}
.more {
    float: right;
    font-size: .8em;
    color: #333;
    text-decoration: none;

}
hr {
   width: 100%;
   color: gray; 
}
.ruler i {
    padding: 1em 0;
    line-height: 19.2px;
}
.ruler i a {
    text-decoration: none;
    color: #666;
}
.ruler a:hover, .ruler a:active {
    text-decoration: underline;
}

/********************************************** page-sports_data ******************************************/
table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
}
.t-data{
    width: 100%;
    float: left;
    padding-top: 1em;
}
td, th{
    text-align: left;
    padding: 1em;
}
.table-header, .table-data {
    text-align: center;
    padding: 1em;
}
.table-data1{
    text-align: center;
    font-weight:bolder;
}
.table-data2{
    text-align: center;
    padding: 1em;
    font-weight: bolder;
}
.adjust-content {
    text-align: center;
}

/********************************************* page-dog_pic_news ******************************************/
.latest-news-content {
    clear: both;
    margin: 24px 0;
}
.latest-news-image {
    width: 100px;
    float: left;
    margin-right: 1em;
}
.latest-news-headline {
    font-weight: 500;
}
.latest-news-headline a {
    text-decoration: none;
    color: #666;
}
.latest-news-headline a:hover, .latest-news-headline a:active {
    text-decoration: underline;
}

/******************************************* page_footer- ***********************************************/
.footer {
    align-content: center;
    display: flex;
} 
.contact-us, .follow-us, .rss {
    font-size: 1.1em;
    border-bottom: 2px solid #E0E0E0;
    padding: 1em 0;
    line-height: 19.2px;
    width:100%;
    border-top: 1px solid #E0E0E0;
    text-align: center;
}
.contact-us a, .follow-us a, .rss a {
    text-decoration: none;
    color: #666;
}

.contact-us a:hover, .contact-us a:active {
    text-decoration: underline;
}
.follow-us a:hover, .follow-us a:active {
    text-decoration: underline;
}
.rss a:hover, .rss a:active {
    text-decoration: underline;
}

/***************************************** page-media_query(small-screen) ***********************************************/
@media only screen and (max-width: 600px) {
    .news-paper-name {
        border: none;
        outline: none;
        border-bottom: 1.5px solid gray; 
        box-shadow: gray;
    }
    .menu{
        display: none;    
    }
    .breaking-news-image {
        margin-top: 0.5rem;
    }
    .the-brighton-times-news {
        display: flex;
        flex-direction: column;
    }
    .weather { 
        order: 4;
        width: 100%;
    }
    .headline-section {
        width: 100%;
    }  
    .ruler i {
        font-size: 10px;
    }
    .footer {
        display: none;
    }
    .breaking-news-content {
        background: rgba(0, 0, 0, 0.5);
        color: white;
        font-size: 0.9em;
    }
    tr:nth-child(odd) {
        background-color:rgba(128, 128, 128, 0.5);
    }
    tr:first-child {
        background-color:rgba(128, 128, 128, 1);
    }
    .latest-news-image {
        width: 60px;
    }
}

/***************************************** page-media_query(medium-screen) ***********************************************/
@media only screen and (min-width: 600px) {
    .bar-icon {
      visibility: hidden;
    }
    .logo-and-title {
        display: flex;
        font-size: 1.5rem;
        justify-content: space-between;
    }
    .title {
        align-self: center;
        margin-left: 0.5rem;
    }
    .logo {
        align-self: center;
        height: 5rem
    }
    .menu {  
        font-size: 1rem;
    }
    .breaking-news-content {
        background: rgba(255, 255, 255, 1);
        color: grey;
        font-size: 1.2em;
    }
    header {
        border: none;
    }
    .news {
        width: 100%;
        height: auto;
    }
    .ruler i {
        font-size: 1.5em;
    }
    .t-data {
        width: 100%;
        height: auto;
    }
    .title {
        width: 80%
    }
    .latest-news-image {
        width: 80px;
    }   
}

/***************************************** page-media_query(large-screen) ***********************************************/
@media only screen and (min-width: 1000px) {
    body {
        margin: 0em 4em 0em 4em;
    }
    .bar-icon {
       visibility: hidden;
    }
    header {
        border-top: 0;
        margin-top: 0.5em;
    }
    .the-brighton-times-news {
        display: flex;
        flex-direction: column;
    }
    .breaking-news-image {
        height: 35rem;
    }
    .breaking-news-content {
        background: rgba(0, 0, 0, 0.5);
        height: auto;
        color: white;
        font-size: 1.6vw;
    }
    .weather {
        order: 4;
        width: 100%;
    }
    .headline-section, .breaking-news {
        width: 100%;
    }
    tr:nth-child(odd) {
        background-color: rgba(128, 128, 128, 0.5);
    }
    tr:first-child { 
        background-color: rgba(128, 128, 128, 1);
    }
    .latest-news-image {
        width: 100px;
    }  
    .footer {
        display: flex;
        justify-content: space-between;
    }  
} 
/********************************************** xxxxxxxx ***********************************************/